<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/chpassword.css"/>
    <title>Change Password</title>
</head>
<body>

<div class="main">
    <form th:method="POST" th:action="@{/change-password}" th:object="${person}">
        <input type="email" th:field="*{email}" name="email" required placeholder="Email">

        <input type="password" th:field="*{password}"  name="newPassword" required placeholder="Password">

        <button class="button1" type="submit">Change Password</button>
    </form>

</div>

</body>
</html>
