<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <!-- Bootstrap reboot (для сброса стилей) -->
  <link rel="stylesheet" href="/css/Bootstrap/bootstrap-reboot.min.css"/>
  <!-- Bootstrap сетка -->
  <link rel="stylesheet" href="/css/Bootstrap/bootstrap-grid.min.css"/>
  <title>Form</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>

<div class="container" id="container">
  <div class="form-container sign-up">
    <form th:method="POST" th:action="@{/create}" th:object="${person}">
      <h1>Create Account</h1>
      <div class="social-icons">
        <input type="text" th:field="*{name}"  placeholder="Name"/>
        <input type="email"  th:field="*{email}"  placeholder="Email"/>
        <input type="password" id="password1" th:field="*{password}"  placeholder="Password"/>
        <button type="submit">Sign up</button>
<!--        <input class="checkbox" type="checkbox" id="showPassword" onchange="togglePassword()"/>-->
        <div class="password-toggle" onclick="togglePassword()">
          <img id="eye-icon" src="/css/images/visibility_off_FILL0_wght400_GRAD0_opsz24.png" alt="Toggle Password Visibility">
        </div>
      </div>
    </form>
  </div>
  <div class="form-container sign-in">
    <form th:method="POST" th:action="@{/login}">
      <h1>Sign In</h1>
      <div class="social-icons">
        <input type="email"   name="email"  placeholder="Email">
        <input type="password" id="password2" name="password"  placeholder="Password">
        <br>
        <button type="submit">Sign in</button>
        <a th:href="@{/changepassw}">Change password</a>
        <div class="password-toggle2" onclick="togglePassword2()">
          <img id="eye-icon2" src="/css/images/visibility_off_FILL0_wght400_GRAD0_opsz24.png" alt="Toggle Password Visibility">
        </div>
      </div>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>Enter your personal details to use all of site features</p>
        <button  class="hidden" id="login">Sign in</button>
      </div>
      <div class="toggle-panel toggle-right" >
        <h1>Hello, Friend!</h1>
        <p>Register with your personal details to use all of site features</p>
        <button class="register" id="register">Sign Up</button>
      </div>
    </div>
  </div>
<!--  <footer class="footer">-->
<!--    <div class="topcontainer">-->
<!--      <p>Copyright © 2023 MyLeetCode. All rights reserved.</p>-->
<!--    </div>-->
<!--  </footer>-->
</div>
<script src="/css/js/script.js"></script>
</body>
</html>