<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap reboot (для сброса стилей) -->
  <link rel="stylesheet" href="/css/Bootstrap/bootstrap-reboot.min.css"/>
  <!-- Bootstrap сетка -->
  <link rel="stylesheet" href="/css/Bootstrap/bootstrap-grid.min.css"/>
  <title>MainPage</title>
  <link rel="stylesheet" type="text/css" href="/css/mainstyle.css"/>

</head>
<body>
<nav class="navbar">
  <div class="container">
    <a href="#" class="navbar-brand">MyLeetCode</a>
    <div class="navbar-wrap">
      <ul class="navbar-menu">
        <li><a href="#">Explore</a></li>
        <li><a th:href="@{/rewtry/try}">Problems</a></li>
        <li><a href="#">Store</a></li>
        <li><a th:href="@{/logout}">LogOut</a></li>
      </ul>
      <a href="#" class="callback">User</a>
    </div>
  </div>
</nav>
<div class="container2">
  <div class="card">
    <h2>Interview</h2>
    <p>Sunday 4:30 AM GMT+2</p>
    <a href="#">Store ✓</a>
  </div>

  <div class="card">

    <h2>LeetCode Contest</h2>

    <p>Contest every week. Compete and see your ranking!</p>

    <a href="#">Start Contest</a>

  </div>
</div>
<footer class="footer">
  <div class="container">
    <!-- Your footer content goes here -->
    <p>Copyright © 2023 MyLeetCode. All rights reserved.</p>
  </div>
</footer>
<div class="tooltip" id="tooltip" th:object="${AuthorizedUser}">
  <ul class="info">
    <li th:text="${AuthorizedUser.getName()}"></li>
    <li th:text="${AuthorizedUser.getUsername()}"></li>
    <li th:text="${AuthorizedUser.getCoins()}"></li>
    <li th:text="${AuthorizedUser.getProgress()}"></li>
  </ul>
</div>
<script src="/css/js/mainscript.js"></script>
</body>
</html>